@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.server-list {
  &__filters {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
  }

  &__content {
    min-height: 120px;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
